@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-de-textura-de-madeira_1258-707.avif') no-repeat bottom center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 750px;
    width: 750px;
    
    background: url('../imagens/82156_phone-frame-png.png')no-repeat;
}

iframe#tela {
    position: relative;
    top: 140px;
    left: 243px;
    width: 265px;
    height: 469px;
}